{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все книги</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Все книги</h1>

    <ul>
        {% for i in book %}
        <li>
            <h2>{{ i.title }}</h2>
            <p>Автор: {{ i.author }}</p>
            <p>Жанр: {{ i.get_genre_display }}</p>
            <p>Страниц: {{ i.pages }}</p>
            <p>Дата публикации: {{ i.published_date }}</p>

            <a href="{% url 'book_detail' i.id %}">Подробнее</a>
        </li>
        <hr>
        {% endfor %}
    </ul>
    {% include 'footer.html' %}
</body>
</html>
